/* applies to anything of class "example-class-selector" */
.example-class-selector {
  margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
  /* Colors are in hexadecimal: http://www.colorpicker.com/ */   
  color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
the CSS to the page. feel free to remove it once the link is working. */
body {
  margin: 1px;
  border: 10px solid #333;
  padding: 20px;
  background-color: #f8f8f8;
  background-image: url("../images/hatched-linen-texture.jpg");
  color: #333;
}

.image {
  width: 100%;
  border: 1px solid #333;
}

.h4wrapper {
  text-align: left;
  width: 50%;
  max-width: 50%;
  padding-left: 3em;
}

.h4wrapper:after {
  content: " ";
  display: block;
  border: 2px solid black;
  margin-bottom: 1.5em;

}

.project {
  margin: 0 auto;
  text-align: center;
}

.thumbnail {
  display: inline-block;
  background: #282828;
  border-radius: 2px;
  border: solid 1px black;
  text-align: center;
  padding: 1.5em 1.5em 0 1.5em;
  margin: 0px 0px 10px 0px;
}

.jumbotron {
  position: relative;
  background: none;
  color: #333;
}

.jumbotron:after {
  content:"";
  background: url("../images/jumbotron-background.jpg");
  background-size: 100%;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;  
}


