<div class="cbp-spmenu-push">
	<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
		<h3></h3>
		<a href="/wishlist">Wishlist</a>
		<a href="/pasteats">Past Eats</a>
		<a href="/search">Search</a>
		<!--<a href="/profile">Profile</a>-->
		<a href="/help">Help</a>
		<a href="/logout">Sign Out </a>
	</nav>
	<script>
		$( document ).ready(function() {
			var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
				menuButton = document.getElementById( 'menuButton' ),
				body = document.body;

	  	$('#underlay').click(function() {
		  		console.log("underlayclicked");
					classie.toggle( menuButton, 'active' );
					classie.toggle( body, 'cbp-spmenu-push-toright' );
					classie.toggle( menuLeft, 'cbp-spmenu-open' );
		  		$('#underlay').hide();
				});

			$('#menuButton').click(function() {
					console.log("menubutton clicked");
					classie.toggle( this, 'active' );
					classie.toggle( body, 'cbp-spmenu-push-toright' );
					classie.toggle( menuLeft, 'cbp-spmenu-open' );
		  		$('#underlay').toggle();
				});

			$('.html').click(function(){
				console.log("made it!");
				if($('#menuButton').hasClass('active')){
					classie.toggle( this, 'active' );
					classie.toggle( body, 'cbp-spmenu-push-toright' );
					classie.toggle( menuLeft, 'cbp-spmenu-open' );
		  		$('#underlay').toggle();
				}

			});
			});
	</script>
</div>
