<!DOCTYPE HTML>
<html>
<head>
    {{> title}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">
    <link href="/css/about.css" rel="stylesheet">
    <!-- Req for menubar-->
    <link href="/css/menubar/component.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="spreadsheet">
</head>



<body>
    {{> menupanel-partial}}
    
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button id="menuButton" type="button" class="navbar-toggle pull-left" >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">About Umami</span>
      </div>
    </div>
    <div id="underlay"></div>

    
    <div class="container">
        {{#each entries}}    

        <div class="swipe-tile" id="swipe1">
            <div class="pasteats-entry" id="{{id}}">
                <div class= "entry-text row-fluid">
                    <b>{{name}}</b>
                    <p>{{description}}</p>   
                </div>
                <img src= "{{image}}">   
                </div>
            </div>
        {{/each}}

    </div>

        <!-- Req for menubar-->
        <script src="/js/menubar/modernizr.custom.js"></script>
        <!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
        <script src="/js/menubar/classie.js"></script>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/about.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
    </html>