<!DOCTYPE HTML>
<html>
  <head>
    {{> title}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">
    <!-- Req for menubar-->
    <link href="/css/menubar/component.css" rel="stylesheet"/>
    <link href="/css/help.css" rel="stylesheet"/>

    <script src="/js/menubar/modernizr.custom.js"></script>
    <!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
    <script src="/js/menubar/classie.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>

  <body>
    {{> menupanel-partial}}
    
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button id="menuButton" type="button" class="navbar-toggle pull-left" >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">Help</span>
      </div>
    </div>
    <div id="underlay"></div>

    <div class="wrapper">
      Maintaining your foodie bucket list can be hard. Umami is here to help.
      <h3>Wishlist</h3>
      <p>This is your collection of all the places you would like to eat at. 
      </br>
      <strong>Add and remove places</strong> from your wishlist at any time.
      </br>Sort by distance from your current location whenever you need a suggestion for a nearby place to eat at.
      </p>
      
      <h3>Past Eats</h3>
      <p>These are your reflections of places you've eaten at. Each entry contains a general description, a photo, and a caption to record your experience.</p>
      
      <p><strong>Creating Posts:</strong> Search for the place from the menu or scroll to it in your wish list, swipe left, then select create post.</p>
      
      <h3>Search</h3>
      <p>Search functionality is presented in a unified search window. </br></br>
      If you know what you're searching for, start entering the name, and then select the right option from the autocomplete results. </br>Otherwise, you can <strong>filter by price, cuisine, and location</strong> to find something to your liking. </p>
      <p>We always search both your list and the web, so you will see listings from both places.</p>
    </div>
  </body>
</html>