<!DOCTYPE HTML>
<html>
  <head>
    {{>title}}
    {{> meta-partial}}
    {{> metamenu-partial}}
  </head>

  <body>
    {{> menupanel-partial}}
    
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button id="menuButton" type="button" class="navbar-toggle pull-left" >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">Help</span>
      </div>
    </div>
    <div id="underlay"></div>

    <div class="wrapper">
      <h4>Maintaining your foodie bucket list can be hard. Umami is here to help.</h4>
      <h3>How do I keep track of places I want to eat at?</h3>
      <p>Your <b>Wishlist</b> is your collection of all the places you would like to eat at. 
      </p>
      <p>
      <h5>How do I add to my wishlist?</h5> Find a specific place or suggestions of places by using <b>Search</b>. Swipe left to bring up the option to add to your wishlist.
      <h5>How do I remove places from my wishlist?</h5>
      In your <b>Wishlist,</b>, swipe left to bring up to the option to remove a place from your wishlist.
      <h5>How do I search through my wishlist?</h5>
      In your <b>Wishlist</b>, sort by distance from your current location. Or use <b>Search</b> to perform a search by name or filtered search by price, cuisine, and location.
      
      <h3>How do I record my eating adventures?</h3>
      <b>Past Eats</b> are are your reflections of places you've eaten at. Each entry contains a required title, and an optional general description, a photo and caption to record your experience.</p>
      
      <h5>How do I create a Past Eats entry?</h5> <b>Search</b> for the place from the menu or scroll to it in your wish list. Then swipe left and select create post.</p>

      <h5>How do I edit a Past Eats entry?</h5>
      The pencil icon at the bottom of each entry represents edit functionality.

      <h5>How do I delete a Past Eats entry?</h5>
      The trashcan icon at the bottom of each entry represents delete functionality.

      <h3>How do I search for places to add to my list?</h3>
      <p><b>Search</b> functionality is presented as a unified search. We search search both your list and the web, so you will see listings from both places.</p>
      <p>If you know what you're searching for, start entering the name, and then select the right option from the autocomplete results.</p>
      <p>Otherwise, you can filter by price, cuisine, and location to find something to your liking.</p>
    </div>
  </body>
</html>