<!DOCTYPE HTML>
<html>
  <head>
    {{> title}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">
    <!-- Req for menubar-->
    <link href="/css/menubar/component.css" rel="stylesheet"/>
    <link href="/css/help.css" rel="stylesheet"/>

    <script src="/js/menubar/modernizr.custom.js"></script>
    <!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
    <script src="/js/menubar/classie.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>

  <body>
    {{> menupanel-partial}}
    
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button id="menuButton" type="button" class="navbar-toggle pull-left" >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">Help</span>
      </div>
    </div>
    <div id="underlay"></div>

    <div class="wrapper">
      <h4>Maintaining your foodie bucket list can be hard. Umami is here to help.</h4>
      <h3>How do I keep track of places I want to eat at?</h3>
      <p>Your <b>Wishlist</b> is your collection of all the places you would like to eat at. 
      </p>
      <p>
      <h5>How do I add to my wishlist?</h5> Find a specific place or suggestions of places by using <b>Search</b>. Swipe left on a place to see the add option.
      <h5>How do I remove places from my wishlist?</h5>
      In your <b>Wishlist</b>, swipe a place tile left to see the remove option.
      
      <h3>How do I record my delicioso eating adventures?</h3>
      <b>Past Eats</b> are are your reflections of places you've eaten at. Each entry contains a required title, an optional general description, and an optional photo and caption to record your experience.</p>
      
      <h5>How do I create a Past Eats entry?</h5> <b>Search</b> for the place from the menu or scroll to it in your wish list. Then swipe the place tile left to see the create post option.</p>

      <h5>How do I delete a Past Eats entry?</h5>
      The trashcan icon at the bottom of each entry represents delete functionality.

      <h3>How do I search for places to add to my list?</h3>
      <p>If you know what you're searching for, start entering the name, and then select the right option from the autocomplete results.</p>
      <p>Otherwise, you can filter by price, cuisine, and location to find something to your liking.</p>
      </br>
      <h3>Who made Umami?</h3>
      <p><a href="/about">Check out our about page here!</a></p>
    </div>
  </body>
</html>