<!doctype html>

<html>
<head>
  {{> title}}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
  <link href="/css/login/login.css" rel="stylesheet">

</head>

    <script type="text/javascript">
      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/client:plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();
    </script>

<body>
    <div class="container">

      <img id = "logo" src="/images/test.png">
      <h4 id= "tagline"> restaurants on the</br>tip of your tongue</h4>
        <a href="/auth/google">
            <img id="signInGoogle" src="/images/googlesignin.png">
        </a>
      </div>

    </div>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>













