<!doctype html>

<html>
<head>
  {{> title}}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
  <link href="/css/login/login.css" rel="stylesheet">

  <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

    <script type="text/javascript">
      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/client:plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();
    </script>

<body>
  <!--Placeholder navbar-->
  
<!-- Navigation Ends -->
    <div class="container">
      <h2 class="form-signin-heading">Welcome to Umami!</h2>
      <!--<form class="form-signin" role="form">
        <input type="email" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" class="form-control" placeholder="Password" required>
        <!--<label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>-->
      <!--  <button class="btn btn-lg btn-primary btn-block" type="submit"><a href="/wishlist">Log In</a></button>
        <button class="btn btn-lg btn-danger btn-block" type="sign-up"><a href="/wishlist">Sign Up</a></button>
      </form>-->
        <div id="signinButton">
          <span
            class="g-signin"
            data-width= "wide"
            data-height= "tall"
            data-callback="signinCallback"
            data-clientid="101989331854-aqje8r3qpvudqru12luln8q88kdm7btd.apps.googleusercontent.com"
            data-cookiepolicy="single_host_origin"
            data-requestvisibleactions="http://schemas.google.com/AddActivity"
            data-scope="https://www.googleapis.com/auth/plus.login">
          </span>
        </div>

    </div> <!-- /container -->

    <script type="text/javascript">
      function signinCallback(authResult) {
        if (authResult['status']['signed_in']) {
          // Update the app to reflect a signed in user
          // Hide the sign-in button now that the user is authorized, for example:
          //document.getElementById('signinButton').setAttribute('style', 'display: none');
        } else {
          // Update the app to reflect a signed out user
          // Possible error values:
          //   "user_signed_out" - User is signed-out
          //   "access_denied" - User denied access to your app
          //   "immediate_failed" - Could not automatically log in the user
          console.log('Sign-in state: ' + authResult['error']);
        }
      }
    </script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>













