<!DOCTYPE HTML>
<html>
<head>
	{{>title}}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/menubar/component.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
  <link href="/css/pasteats-editcreate.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/pasteats-editcreate2.js"></script>
  
</head>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-headerw">
      <button id="menuButton" type="button" class="navbar-toggle pull-left">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
      <span class="navbar-brand">Create Entry</span>
  </div>
</div>

<body>
	<div class = "container">
  <div class="container">
        <div id="overlay" class="web_dialog_overlay"></div>
        <div id="dialog" class="web_dialog">
            Discard draft?
            <table style="width: 100%;" cellspacing="0">
              <tr>
                <td id ="btnNo">
                    No
                </td>
                <td  id="btnYes">
                    <span style="color:blue">Yes</span>
                </td>
            </tr>
        </table>
    </div>
    <form action="/pasteats-editcreate/add" method="post" enctype="multipart/form-data">
      <input type="text" name="title" class="textfield" placeholder="Title" required maxlength="80">
      <textarea type="text" name="summary" id="summary" placeholder="Your eloquent text"></textarea>
      <div id="filewrapper">Add Photo</div>
      <input type="file" name='photo' accept="image/*" id="file">
      <div id="previewbox">
        <img id="preview">
        <input type="text" name="caption" id="caption" placeholder="Caption the image">
      </div>
        <input type="submit" id="upload" value="Submit">
    </form>
    </div>
</body>