<!DOCTYPE HTML>
<html>
<head>
	{{title}}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/menubar/component.css" rel="stylesheet"/>
</head>

<body>
	<div class = "container-fluid">
  		<div class = "row-fluid">
  			<div class = "panel panel-default">
  				<div class= "panel-body">
  					<div class= "col-xs-3">
  						<a href="/wishlist"><button type="button" class="btn btn-default btn-md">
  							<span class="glyphicon glyphicon-chevron-left"></span>
  						</button></a>
  					</div>
  					<div class= "col-xs-9 header-text">
  						Edit Entry
  					</div>
  				</div>
  			</div>
  		</div>
    </div>
    
    <form action="upload.htm" method="post" enctype="multipart/form-data">
      <input type="file" accept="image/*" capture>
      <input type="submit" value="Upload">
    </form>
</body>