<!DOCTYPE HTML>
<html>
<head>
    {{> title}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">
    <link href="/css/pasteats2.css" rel="stylesheet">
    <!-- Req for menubar-->
    <link href="/css/menubar/component.css" rel="stylesheet"/>
</head>

<body>
    {{> menu-partial}}
    {{> menupanel-partial}}
    <div class="container">
        <div id="overlay" class="web_dialog_overlay"></div>
        <div id="dialog" class="web_dialog">
            Delete this post?
           <table style="width: 100%;" cellspacing="0">
              <tr>
                <td id ="btnNo">
                    No
                 </td>
                 <td  id="btnYes">
                    <span style="color:blue">Yes</span>
                </td>
              </tr>
           </table>
        </div>

        <div class="swipe-tile" id="swipe1">
            <div class="pasteats-entry">
                <div class= "entry-text row-fluid">
                    <div class= "col-xs-8"><b>Red Bean Cafe</b></div>
                    <div class= "col-xs-4">04.28.12</div>
                    <p>General text lorem ipsum short overview ladee da dee da. Fantastic place to eat crab!</p>   
                </div>
                <img src= "http://lorempixel.com/400/400/food">
                <div class= "caption-text"> This is a caption for the food </div>
                <div class="entry-end">
                    <!-- <span class="glyphicon glyphicon-share-alt"></span> -->
                    <span class="glyphicon glyphicon-trash"></span>
                    <a href="/pasteats-editcreate/2"><span class="glyphicon glyphicon-pencil"></span>
                </div>
                    
    </div>
</div>

<!-- Req for menubar-->
<script src="/js/menubar/modernizr.custom.js"></script>
<!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
<script src="/js/menubar/classie.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/pasteats2.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>