<!DOCTYPE HTML>
<html>
<head>
  {{> title}}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
  <!-- Req for menubar-->
  <link href="/css/menubar/component.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/css/select2.css">
  <link rel="stylesheet" href="/css/select2-bootstrap.css">
  <link rel="stylesheet" href="/css/searchresults.css">
  <link href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="">

  <!-- Req for menubar-->
  <script src="/js/menubar/modernizr.custom.js"></script>
  <!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
  <script src="/js/menubar/classie.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/select2.js"></script>
  <!-- Hammerjs stuffs -->
  <script src="/js/jquery.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="/js/hammer.js"></script>
  <script src="/js/jquery.hammer.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <script>
    var width = window.innerWidth;
    var swiped = false;
    var map;
    var infowindow;
    function initialize() {
      var pyrmont = new google.maps.LatLng(33.8665433, -115.1956316);

      map = new google.maps.Map(document.getElementById('map-canvas'), {
        center: pyrmont,
        zoom: 10
      });

      var request = {
        query: "{{keyword}}"
      };
      infowindow = new google.maps.InfoWindow();
      var service = new google.maps.places.PlacesService(map);
      service.textSearch(request, callback);
    }

    function callback(results, status) {
      // console.log(results[0]);
      if (status == google.maps.places.PlacesServiceStatus.OK) {
        for (var i = 0; i < results.length; i++) {
          createMarker(results[i]);
          $('#results').html($('#results').html() + createResultDiv(results[i]));
        }
      }
      map.setCenter(results[0].geometry.location);
      swipeTiles();
    }

    function createResultDiv(place) {
      var price = place.price_level ? Array(place.price_level+1).join('$') : "";
      var hours = place.opening_hours ? place.opening_hours : "";
      var opennow = hours.open_now;
      var displayopen = "";
      if (opennow != undefined) {
        displayopen = opennow ? "open" : "not open";
      }
      return       '<div class="wishlist-entry" id="swipe0"><div class="swipe-options">'+
      '  <div class="option"> '+
      '    <span class="glyphicon glyphicon-plus"></span></div>'+
      '    <div class="option">'+
      '      <a href="/pasteats-editcreate/2"><span class="glyphicon glyphicon-pencil"></span></a>'+
      '    </div>'+
      '  </div>'+
      '  <a  href="#">'+
      '    <div class="photo"> '+
      '      <img src="'+place.icon+'">'+
      '    </div>'+
      '    <div title=" This is an entry in your wishlist" rel="tooltip" class= "left-info">'+
      '      <ul >   '+
      '        <li>'+place.name +'</li>'+
      '        <li>'+place.types.toString()+'</li>'+
      '        <li>'+(place.rating? place.rating : "")+'</li>'+
      '      </ul>'+
      '    </div>'+
      '    <div title="These are details about restaraunts" rel="tooltip" class= "right-info">'+
      '      <ul>'+
      '        <li>'+'1.2 mi'+'</li>'+
      '        <li>'+displayopen+'</li>'+
      '        <li>'+price+'</li>'+
      '      </ul>'+
      '    </div>'+
      '  </a>'+
      '</div>';
    }

    function createMarker(place) {
      var placeLoc = place.geometry.location;
      var marker = new google.maps.Marker({
        map: map,
        position: place.geometry.location
      });

      google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(place.name);
        infowindow.open(map, this);
      });
    }
    function swipeTiles() {
      console.log('running swipeTiles');
      $('.wishlist-entry').each(function(i,e) {
        $(this).css({
          left: -width +"px"
        });
        Hammer(e).on("swiperight", function(ev) {
        if(!swiped) {
          console.log('swiperight');
          $(this).animate({
            left: "0px"
          }, 500, 'easeOutCirc');
          swiped = true;
        }
      });
      });
      $('.wishlist-entry').each(function(i,e) {
        Hammer(e).on("swipeleft", function(ev) {
        if(swiped) {
          console.log("swipeleft");
          $(this).animate({
            left: -width + "px",
          }, 500, 'easeOutCirc');
          swiped = false;
        }
      });
      });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
    $(document).ready(function() {
      $(document).on('touchmove', function(e) {e.preventDefault();});
    });

  </script>
</head>

<body>
{{> menu-partial}}
{{> menupanel-partial}}

<div class="container">
  <div id="map-canvas"></div>
  <div id="results">
    
  </div>
</div>

</body>
</html>



















  