<!DOCTYPE HTML>
<html>
  <head>
    {{> title}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">
    <!-- Req for menubar-->
    <link href="/css/menubar/component.css" rel="stylesheet"/>
  </head>

  <body>
    {{> menu-partial}}
    {{> menupanel-partial}}
    
    <form action="/search/results" id="searchform" role="form" method="get">
        <h3>Search for Places</h3>
        <div class="searchName">
          <input type="text">
        </div>

        <input type="submit" value="GO" id="submitBtn" class="btn btn-default"></input>
    </form>

    <!-- Req for menubar-->
    <script src="/js/menubar/modernizr.custom.js"></script>
    <!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
    <script src="/js/menubar/classie.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>

