<!DOCTYPE HTML>
<html>
<head>
  {{> title}}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
  <!-- Req for menubar-->
  <link href="/css/menubar/component.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/css/select2.css">
  <link rel="stylesheet" href="/css/select2-bootstrap.css">
  <link rel="stylesheet" href="/css/searchresults.css">
  <link href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="">

  <!-- Req for menubar-->
  <script src="/js/menubar/modernizr.custom.js"></script>
  <!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
  <script src="/js/menubar/classie.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/select2.js"></script>
  <!-- Hammerjs stuffs -->
  <script src="/js/jquery.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="/js/hammer.js"></script>
  <script src="/js/jquery.hammer.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <script>
    var width = window.innerWidth;
    var swiped = false;
    var map;
    var infowindow;
    function initialize() {
      var pyrmont = new google.maps.LatLng(33.8665433, -115.1956316);

      map = new google.maps.Map(document.getElementById('map-canvas'), {
        center: pyrmont,
        zoom: 12
      });

      var request = {
        query: "food {{keyword}}",
        minprice: "{{minprice}}",
        maxprice: "{{maxprice}}"
      };
      infowindow = new google.maps.InfoWindow();
      var service = new google.maps.places.PlacesService(map);
      service.textSearch(request, callback);
    }

    function callback(results, status) {
      if (status == google.maps.places.PlacesServiceStatus.OK && results) {
        for (var i = 0; i < results.length; i++) {
          createMarker(results[i]);
          $('#results').html($('#results').html() + createResultDiv(results[i]));
        }
        map.setCenter(results[0].geometry.location);
        swipeTiles();
        setupActions();
      } else {
        $('#noresults').show();
      }
    }

    function createResultDiv(place) {
      var price = place.price_level ? Array(place.price_level+1).join('$') : "";
      var hours = place.opening_hours ? place.opening_hours : "";
      var opennow = hours.open_now;
      var photo = place.photos;
      if (photo) {
        photo = photo[0].getUrl({'maxHeight': 100});
      } else {
        photo = "/images/default.png";
      }
      var displayopen = "";
      if (opennow != undefined) {
        displayopen = opennow ? "<span style='color: green'>open</span>" : "<span style='color: #cc0052'>closed</span>";
      }


      var name = place.name;
      if (name.length > 20) {
        name = name.substring(0,25);
      }

      var address = place.formatted_address;
      if (address.length > 29) {
        address = address.substring(0,28);
      }

      return '<div class="frame"><div class="wishlist-entry" gid="'+place.id+'" gref="'+place.reference+'"><div class="swipe-options">'+
      '  <div class="option"> '+
      '    <span class="glyphicon glyphicon-plus-sign"></span></div>'+
      '    <div class="option">'+
      '      <a href="/pasteats-editcreate/' + place.reference + '""><span class="glyphicon glyphicon-pencil"></span></a>'+
      '    </div>'+
      '  </div>'+
      '  <a class="place" gref="' + place.reference+ '"" id= "' + place.id + '" href="/info/' + place.reference+ '"">'+
      '    <div class="photo"> '+
      '      <img src="'+ photo +'">'+
      '    </div>'+
      '    <div title=" This is an entry in your wishlist" rel="tooltip" class= "left-info">'+
      '      <ul >   '+
      '        <li>'+name +'</li>'+
      '        <li><span class="address">'+ address +'</span></li>'+
      '        <li>Rating: '+(place.rating? place.rating : "N/A")+'</li>'+
      '      </ul>'+
      '    </div>'+
      '    <div title="These are details about restaraunts" rel="tooltip" class= "right-info">'+
      '      <ul>'+
      '        <li>'+'1.2 mi'+'</li>'+
      '        <li>'+displayopen+'</li>'+
      '        <li>'+price+'</li>'+
      '      </ul>'+
      '    </div>'+
      '  </a>'+
      '</div></div>';
    }



    function createMarker(place) {
      var placeLoc = place.geometry.location;
      var marker = new google.maps.Marker({
        map: map,
        position: place.geometry.location
      });

      google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent("<span onclick='scroll(this);' href= #" + place.id + "> " + place.name + "</span>");
        infowindow.open(map, this);
      });
    }
    function swipeTiles() {
      $('.wishlist-entry').each(function(i,e) {
        $(this).css({
          left: -width +"px"
        });
        Hammer(e).on("swiperight", function(ev) {
        if(!swiped) {
          $(this).animate({
            left: "0px"
          }, 500, 'easeOutCirc');
          swiped = true;
        }
      });
    });
      $('.wishlist-entry').each(function(i,e) {
        Hammer(e).on("swipeleft", function(ev) {
        if(swiped) {
          $(this).animate({
            left: -width + "px",
          }, 500, 'easeOutCirc');
          swiped = false;
        }
      });
      });
    }

    function setupActions() {
      $('.glyphicon-plus-sign').each(function(i,e) {
        $(e).click(function(ev) {
          ev.preventDefault();
          $.ajax({
            url: '/wishlist/add/', 
            data: { 
              gid: $(this).parent().parent().parent().attr('gid'),
              gref: $(this).parent().parent().parent().attr('gref')
            }, 
            complete: function(result, err) {
              if (err) console.log(err);
              //top.location.href = '/wishlist'
            }
          });
          var parent_tile = $(this).parent().parent().parent();
          parent_tile.fadeOut(300, function(){
            parent_tile.hide(300);
          });
          swiped = false;
        });
      });
      $('#menuButton').click(function (e) {
        e.preventDefault();
        top.location.href = '/search';
      });

      $('.glyphicon-pencil').each(function(i,e) {
        $(e).click(function(ev) {
          ev.preventDefault();
          top.location.href = '/pasteats-editcreate/' + $(this).parent().parent().parent().parent().attr('id');
        });
      });

      $('wishlist-entry').click(function(i,e) {
        top.location.href = '/info/' + $(this).attr('gref');
      });
    }

    google.maps.event.addDomListener(window, 'load', initialize);

    function scroll(e) {
     $('html,body').animate({scrollTop: $($('.wishlist-entry a.place'+$(e)[0].getAttribute('href'))).offset().top -45});
      $('.wishlist-entry a.place'+$(e)[0].getAttribute('href')).addClass('scrolledToThis');
     }

  </script>
</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-headerw">
          <button id="menuButton" type="button" class="navbar-toggle pull-left">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </button>
          <div class="navbar-brand">Search Results</div>
      </div>
    </div>
    <div id="underlay"></div>

<div class="container">
  <div id="map-canvas"></div>
  <div id="noresults"> No tasty places found </br>Please try a different search</div>
  <div id="results">
      
  </div>
</div>

</body>
</html>



















  