<!DOCTYPE HTML>
<html>
<head>
	{{title}}
	<meta charset="utf-8">
	<meta name="google-signin-clientid" content="CLIENT_ID" />
	<meta name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login" />
	<meta name="google-signin-requestvisibleactions" content="http://schemas.google.com/AddActivity" />
	<meta name="google-signin-cookiepolicy" content="single_host_origin" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href="/css/wishlist.css" rel="stylesheet">
	<link href="/css/menubar/component.css" rel="stylesheet"/>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://apis.google.com/js/plusone.js"></script>
	<script src="https://apis.google.com/js/client:plusone.js"></script>
	<link href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="spreadsheet">
</head>

	<script type="text/javascript">
	  	$(window).load(function(){
	  		loadAPI();
	  	});
	  	function loadAPI(){
	  		console.log(gapi);
	  		gapi.client.load('plus', 'v1', function(){
	        showPeople();
	      });
	  	}

		function showPeople(){
	        var user = gapi.client.plus.people.get({'userId' : 'me'});
	        user.execute(function(profile){
	          $('#profile').append(
	            $('<p><img src=\"' + profile.image.url + '\"></p>')      
	            );
	          $('#profile').append(
	            $('<p>Hello ' + profile.displayName + '</p>')
	            ); 
	        });
	        console.log(user);
	      }
	</script>
<body>
	{{> menu-partial}}
	{{> menupanel-partial}}
	<div class="container">
		<a href="/info/20">
			<div class="swipe-tile" id="swipe1">
				<div class="wishlist-entry">
					<div class="col-xs-3 photo">
						<img src="http://lorempixel.com/400/400/food">
					</div>
					<div class= "col-xs-6">
						<ul>		
							<li>Red Bean Cafe</li>
							<li>Cafe, Japanese, Desserts, Bakeries</li
								>
							<li><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></li>
						</ul>
					</div>
					<div class= "col-xs-3 right-info">
						<ul>
							<li>1.2 mi</li>
							<li>11a-8p</li>
							<li>$$$</li>
							
						</ul>
					</div>
				</div>
			</div>
		</a>
		<div id="profile"></div>
		<p><button type="button" id="location">Show my location</button></p>
<div id="out"></div>
	</div>

		<!-- Req for menubar-->
		<script src="/js/menubar/modernizr.custom.js"></script>
		<!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
		<script src="/js/menubar/classie.js"></script>
		<script type ="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="js/hammer.js"></script>
   	<script src="js/jquery.hammer.js"></script>
		<script src="/js/wishlist2.js"></script>
	</body>
	</html>