<!DOCTYPE HTML>
<html>
	<head>
		{{> title}}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/introHCI.css" rel="stylesheet">
		<!-- Req for menubar-->
		<link href="/css/menubar/component.css" rel="stylesheet"/>
	</head>

	<body>
		{{> menu-partial}}
		{{> menupanel-partial}}
		<!--Ash, write up your code after this-->

		<a href="/info:20">Red Bean Cafe</a>
		<!-- Req for menubar-->
		<script src="/js/menubar/modernizr.custom.js"></script>
		<!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
		<script src="/js/menubar/classie.js"></script>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>
</body>
</html>