.header-text {
	font-size: 1.25em;
	text-align: center;
}

ul, li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.btn {
	border: none;
	border-radius: 0px;
}

.btn-lg {
  padding: 5px;
  font-size: 20px;
  line-height: 2;
}

.col-xs-6 {
	margin: 1em 0 .5em 0;
}

.two-col {
	width: 49%;
	text-align: center;
	background-color: #f46b4f;
	margin: .5em .5% .5em;
	color: white;
	height:100%;
	padding: 5px;
	font-size: 20px;
	line-height: 2;
	float:left;
}

.web-call {
	width: 49%;
	color: #f46b4f;
	background-color: #f8f8f8;
	margin-bottom: .5em;
	height:100%;
	vertical-align:middle;
	text-align:center;
	padding:6px 0px;
	font-size:14px;
	line-height: 1.428571429;
	border:none;
}

.web-call:active {
	border: none;
}

.row-fluid .col-xs-6:nth-child(2) {
	text-align: right;
}

.btn {
	height:100%;
}

.photos {
	width:100%;
	text-align: center;
	margin: .5em 0em 1em 0em;
	max-height: 100px;
	overflow:hidden;
}

.photo {
	width: 33%;
	float: left;
	margin-left: 2.4em;
	overflow:hidden;
}

.photo img {
	height: 150%;
	width:150%;
}

#reviews {
	padding: 1em;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.navbar-brand {
	float: left;
	overflow: hidden;
	width: 80%;
	height: 38px;
}

#menuButton {
	padding: .75em;
}

#map-canvas {
  width: 100%;
  height: 200px;
  padding-bottom: 1em;
}