body {
  margin: 45px 0px 0px 0px;
  background-color: #f8f8f8;
  color: #333;
  padding-top: 40px;
}

.container, .container-fluid{
	padding: 0px;
	width: 100%;
}

.navbar-header {
  height: 40px;
}

#menuButton {
  	margin-left: .5em;
	padding: .5em;
}





