body {
	background-color: #f46b4f;
}

form {
	margin-top: 30px;
}

.textfield, textarea, #upload, #add, #filewrapper{
  color: #333;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  border: none;
  width: 90%;
  margin: 1em auto;
  display:block;
  padding: .6em;
  resize:none;
}

textarea {
	height: 120px;
}

#filewrapper, #cancel{
	height: 35px;
	padding: 6.5px;
	background-color: #ddd;
	text-align: center;
}

#preview, #cancel{
	width:90%;
	display: block;
	margin: auto;
}

#cancel {
  margin-bottom: 1em;
}

.noUse{
  color: white;
}

#caption {
	color: #333;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  border: none;
  width: 90%;
  margin: auto;
  display: block;
  padding: .5em;
  resize:none;
}

#file {
	display: none;
}

.web_dialog_overlay
{
  position: absolute;
  top: 0;;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000000;
  opacity: .50;
  filter: alpha(opacity=50);
  -moz-opacity: .50;
  z-index: 101;
  display: none;
}

.web_dialog
{
  top: 45%;
  left: 10%;
  position: absolute;
  margin: auto;
  width: 80%;
  z-index: 102;
  background-color: #f8f8f8;
  border-radius: 2px;
  padding: .5em;
  display:none;
  text-align: center;
  font-size: 16px;
}

.web_dialog a {
  font-size: 13px;
}

table {
  margin-top: .5em;
}

td {
  width:50%;
}

#btnYes {
  border-left: 1px #c9c9c9 solid;
}

#menuButton {
  padding: .75em;
}