body {
	background-color: #f46b4f;
}

form {
	margin-top: 30px;
}

.textfield, textarea, #upload, #filewrapper{
  color: #333;
  font-size: 13px;
  font-family: 'Noto Sans', sans-serif;
  border: none;
  width: 90%;
  margin: 1em auto;
  display:block;
  padding: .5em;
  resize:none;
}

textarea {
	height: 120px;
}

#filewrapper {
	height: 31px;
	padding: 6.5px;
	background-color: #ddd;
	text-align: center;
}

#preview {
	width:90%;
	display: block;
	margin: auto;
}

#caption {
	color: #333;
  font-size: 13px;
  font-family: 'Noto Sans', sans-serif;
  border: none;
  width: 90%;
  margin: auto;
  display: block;
  padding: .5em;
  resize:none;
}

#file {
	display: none;
}