body {
  overflow-x: hidden;
}

#map-canvas {
  width: 100%;
  height: 200px;
  padding-bottom: .5em;
}

#menuButton {
  padding: .75em;
}

.frame {
  width: 100%;
  overflow: hidden;
}

.wishlist-entry {
  padding: 8px 0px;
  height:75px;
  overflow: hidden;
  border-bottom: 1px #e3e3e3 solid;
  position: relative;
  width: 200%;
}

.swipe-options {
  width:49%;
  height: 59px;
  float:left;
  padding: .5em;
}

.option {
  width:50%;
  font-size: 2em;
  float: left;
  text-align: center;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.left-info {
  width: 28%;
  float:left;
  height: 59px;
  overflow: hidden;
}

.left-info ul li:first-child {
  font-size: 1em;
  font-weight: bold;
}

.right-info {
  text-align:right;
  width: 10.5%;
  float:left;
  height: 59px;
  padding: 0px 1em 0px 0em;
}

img {
  width: 4.5em;
  height: 4.5em;
  border: 1px #e3e3e3 solid;
}

.place:hover, .place {
  color: black; 
}

.place:active {
  color: #f46b4f;
}

.photo {
  padding: 0px 0px 0px .5em;
  width: 12%;
  height: 59px;
  float:left;
}

#out {
  padding: .5em;
}