body {
  background-color: #f46b4f;
  color: white;
}

.container {
  text-align: center;
  margin: auto;
}

.searchName, .priceWrapper, .cuisineWrapper {
  padding: .25em 0em;
}

.searchName {  
  margin: auto;
  width: 80%;
}

#nameInput {
  margin: auto;
}

.priceWrapper {
  width: 80%;
  margin: auto;
}

.cuisineWrapper {
  width: 80%;
  margin: auto;
}

.select2-container {
  width: 100% !important;
}

.select2-search-choice-close {
  
}

.select2-search-choice-close:after {
  content: "X";
  font-size: 10px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #333;
}

.select2-search-choice {
  vertical-align: center !important;
  color:  #eee !important;
  background-color: #888 !important;
  background-image: none !important;
  padding: 9px 5px 5px 5px !important;
  border-radius: 2px !important;
  border: 0px !important;
  margin: auto !important;
}

.select2-search-choice > div{
  display:inline;
  margin: auto !important;
}

.select2-search-choice > a{
  position: relative;
  display: inline;
  vertical-align: center !important;
  top: -0.6px !important;
  left:0px !important;
}
