.wishlist-entry {
	padding: 8px 0px;
	height:75px;
	overflow: hidden;
	border-bottom: 1px #e3e3e3 solid;
	position: relative;
	width: 200%;
}

.swipe-options {
	width:49%;
	height: 59px;
	float:left;
	padding: .5em;
}

.option {
	width:50%;
	font-size: 2em;
	float: left;
	text-align: center;
}

ul, li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.left-info {
	width: 28%;
	float:left;
	height: 59px;
}

.left-info ul li:first-child {
	font-size: 1em;
	font-weight: bold;
	
}

.right-info {
	text-align:right;
	width: 10.5%;
	float:left;
	height: 59px;
	padding: 0px 1em 0px 0em;
}

img {
	width: 4.5em;
	height: 4.5em;
	border: 1px #e3e3e3 solid;
}

a:link, a:visited {
	color: black;	
}

.photo {
	padding: 0px 0px 0px 1em;
	width: 12%;
	height: 59px;
	float:left;
}

#out {
	padding: .5em;
}
