body {
  overflow-x: hidden;
}

.frame {
  width: 100%;
  height: 75px;
  overflow: hidden;
	border-bottom: 1px #e3e3e3 solid;
	background-color: #f8f8f8;
}

.address {
	font-size: 13px;
}

.container {
	margin-top: 50px;
}

.wishlist-entry {
	height:100%;
	overflow: hidden;
	position: relative;
	width: 200%;
}

.swipe-options {
	width:50%;
	height: 100%;
	float:left;
	padding: 1.25em;
}

#map-canvas {
	display: none;
}

.hint {
	padding: 1em;
	text-align :center;
	height: 1em;
}

.option {
	width:50%;
	font-size: 2em;
	float: left;
	text-align: center;
}

ul, li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.left-info {
	width: 29%;
	float:left;
<<<<<<< HEAD
	height: 100%;
	padding: 5px 0em 0px 0em;
	overflow: hidden;
=======
	height: 59px;
	padding-left: 6px;
>>>>>>> a7d91703ed7f669cb4ba5261a431dfd94616d86a
}

.left-info ul li:first-child {
	font-size: 1em;
	font-weight: bold;	
}

#add {
	float:right;
}

.gm-style-iw a {
	color: blue;
}

.right-info {
	text-align:right;
	width: 9.5%;
	float:left;
	height: 100%;
	padding: 5px 10px 0px 0px;
}

img {
	width: 4.5em;
	height: 4.5em;
}

a:link, a:visited {
	color: black;	
}

.photo {
	width: 75px;
	height: 100%;
	float:left;
	margin-right: .5em;
}

.photowrapper {
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
	width: 75px;
	height: 75px;
}


img {
	width: 100%;
	height: 100%;
}

#out {
	padding: .5em;
}
