body {
  padding-right: 100px;
  padding-left: 100px;
  background-color: #912929;
  font-family:'Open Sans', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin: 176px 0px 11px;
  color: #ada663;
  font-size: 51px;
  line-height: 75px;
  font-weight: 800;
  text-align: center;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin: 10px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.form {
  margin-top: 15px;
  padding-right: 50px;
  padding-left: 50px;
}
.submit-button {
  display: block;
  width: 185px;
  margin-right: auto;
  margin-left: auto;
  float: none;
  text-align: center;
}
@media (max-width: 767px) {
}
@media (max-width: 479px) {
  body {
    padding-right: 0px;
    padding-left: 0px;
  }
  h1 {
    margin-top: 50px;
  }
  .form {
    padding-right: 25px;
    padding-left: 25px;
  }
}